/* Placeholder selectors */
.save, .delete {
  padding: 0.25em 0.55em;
  border: 1px solid #5c8fee;
  display: inline-block;
  padding: 0.25em 1em;
  margin: 0.15em; }

.save {
  background-color: #a4eaa2;
  text-shadow: 1px 1px 1px #f5fdf5;
  color: #269d23;
  border: none; }

.delete {
  background-color: #f8754f;
  text-shadow: 1px 1px 1px #fcc2b1;
  color: #761e05;
  border: none; }

h1 {
  font: 200 5em "helvetica neue";
  color: #b8cef8;
  background: #5c8fee;
  padding: 0.15em;
  text-shadow: 1px 1px 1px #1656ce; }

body {
  font: 200 1em "helvetica neue"; }

span.data {
  display: inline-block;
  padding: 0.15em 0.55em;
  margin: 0.35em; }
